.v {
  &-carousel {
    scroll-snap-type: x mandatory;
    display: flex;
    overflow-x: scroll;
    box-sizing: border-box;
    gap: 128px;
    width: 256px;
    height: 50;
    padding-left: 50vw;
    padding-right: 50vw;

    &>* {
      max-width: min(256px, 10vw);
      max-height: min(256px, 10vw);
    }

    &-wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;
      height: max(178px, 128px);
    }

    &-buttons {
      position: absolute;
      top: 35%;

      &-previous {
        @extend .v-carousel-buttons;
        margin-right: 35%;
      }

      &-next {
        @extend .v-carousel-buttons;
        margin-left: 35%;
      }
    }
  }
}