@use '../vars' as vars;

.user {
  &-login {
    &-container {
      width: 15vw;
      height: 40vh;
      background-color: #d9d9d9;
      border-radius: 16px;
      box-shadow: vars.$varShadow;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      & > div {
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 33%;
      }
    }

    &-inputs {
      display: flex;
      flex-direction: column;
    }
  }

  &-register {
    &-container {
      width: 15vw;
      height: 40vh;
      background-color: #d9d9d9;
      border-radius: 16px;
      box-shadow: vars.$varShadow;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 33%;
      }
    }

    &-inputs {
      display: flex;
      flex-direction: column;
    }
  }
}
